# SonarQube image and port
SONARQUBE_IMAGE=sonarqube:latest
SONARQUBE_PORT=9010

# Postgres database for SonarQube
SONAR_DB_HOST=common_postgresql
SONAR_DB_PORT=5432
SONAR_DB_NAME=sonarqube
SONAR_DB_USER=admin
SONAR_DB_PASSWORD=admin@IFNT1

# SonarQube default login
SONARQUBE_DEFAULT_USER=admin
SONARQUBE_DEFAULT_PASSWORD=admin

# Host URL for SonarQube
SONAR_HOST=http://127.0.0.1:9010
