HARBOR_HOST_NAME=registry.mydomain.com
HARBOR_HTTP_PORT=80
HARBOR_ADMIN_PASSWORD=admin@Secret1
HARBOR_VERSION=2.15.2

HARBOR_DATA_PATH=/var/data/harbor
HARBOR_LOG_PATH=/var/log/harbor

DB_TYPE=postgresql
DB_HOST=common_postgresql
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=admin@Secret1
DB_NAME=registry

REDIS_HOST=common_redis
REDIS_PORT=6379
REDIS_PASSWORD=admin@Secret1
REDIS_DB_INDEX=1

