AISTOR_API_PORT=9002
AISTOR_CONSOLE_PORT=9001
AISTOR_ROOT_USER=admin
AISTOR_ROOT_PASSWORD=admin@Secret1
AISTOR_DATA_PATH=/var/data/aistor
AISTOR_LICENSE_FILE=./minio.license
AISTOR_BROWSER_REDIRECT_URL=http://aistor.mydomain.com
