STIRLING_PORT=8080

STIRLING_APP_NAME=Stirling-PDF
STIRLING_APP_HOME_NAME=Stirling-PDF
STIRLING_APP_NAVBAR_NAME=Stirling-PDF
STIRLING_BASE_URL=http://www.stirling.loc
STIRLING_USER=admin
STIRLING_PASSWORD=admin@Secret1

STIRLING_OCR_PATH=/var/data/stirling/ocr
STIRLING_CONFIGS_PATH=/var/data/stirling/configs
STIRLING_LOGS_PATH=/var/data/stirling/logs
STIRLING_PIPELINE_PATH=/var/data/stirling/pipeline
