SERVICE_NAME=postgresql
POSTGRES_IMAGE=postgres:18.4-alpine

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin@Secret1
POSTGRES_DB=default

POSTGRES_VOLUME_PATH=/var/data/postgresql
POSTGRES_ARCHIVE_PATH=/var/data/postgresql-archive
POSTGRES_DUMP_PATH=./dump

SSH_KEYS_PATH=./ssh

REPLICA_USER=user_replica
REPLICA_PASSWORD=replica@Secret1
