# STORAGE_HOST=34.2.150.255
STORAGE_HOST=aistor-api-test.mydomain.com
STORAGE_PORT=443
STORAGE_USE_SSL=true
STORAGe_PART_STYLE=true
STORAGE_ACCESS_KEY=SDlbmWcvfZE0iXlp6ESt
STORAGE_SECRET_KEY=jZBuaED0msLsMhNMicuYZRMY7NiSmaPcaIdPtMwa
